In [2]:
thisset={"apple","banana","cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [3]:
thisset={"apple","banana","cherry","apple"}
print(thisset)
print(len(thisset))

{'apple', 'banana', 'cherry'}

In [13]:
thisset=set(("apple","banana","cherry"))
print(thisset)
for x in thisset:
    print(x)
print("\n","banana" in thisset)
thisset.add("orange")
print(thisset)
tropical={"pineapple","mango","papaya"}
thisset.update(tropical)
print(thisset)

{'apple', 'banana', 'cherry'}
apple
banana
cherry

 True
{'apple', 'orange', 'banana', 'cherry'}
{'papaya', 'pineapple', 'orange', 'cherry', 'apple', 'mango', 'banana'}

In [27]:
thisset={"apple","banana","cherry","papaya"}
lst=["kiwi","orange"]
thisset.update(lst)
print(sorted(thisset))
x=thisset.pop()
print(thisset)
thisset.clear()
print(thisset)

['apple', 'banana', 'cherry', 'kiwi', 'orange', 'papaya']
{'orange', 'cherry', 'apple', 'kiwi', 'banana'}
set()

In [23]:
del thisset
# print(thisset)

In [31]:
def compare_to_five(y):
    n=5
    if y>n:
        return "Greater"
    elif y<0:
        return "Negative"
    elif y<n:
        return "Less"
    else:
        return "Equal"
print(compare_to_five(-3))
print(compare_to_five(3))
print(compare_to_five(5))
print(compare_to_five(8))

Negative
Less
Equal
Greater

In [35]:
x="awesome"
def myfunc():
#     global x
    x="fantastic"
    print("Python is "+x)
myfunc()
print("Python is "+x)

Python is fantastic
Python is fantastic

In [54]:
a=-100
b=32423111111234453452342342342
c=12.54
d=12E4
e=6+3j
f=1j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'complex'>
<class 'complex'>

In [59]:
x=1
y=2.8

a=float(x)
print(a)
print(type(a))

a=int(y)
print(a)
print(type(a))

a=complex(y)
print(a)
print(type(a))

1.0
<class 'float'>
2
<class 'int'>
(2.8+0j)
<class 'complex'>

In [1]:
print(bool("Hello"))
print(bool(15))

True
True

In [3]:
bool("abc")
bool(123)

True

In [4]:
bool(False)

False

In [5]:
bool(None)

False

In [6]:
bool([])

False

In [7]:
bool(123)

True

In [8]:
def myfunction():
    return True
print(myfunction())

True

In [9]:
if myfunction():
    print("YES!")
else:
    print("NO")

YES!

In [10]:
def fn(str):
    print(str)
    return
fn(4)

4

In [20]:
def fn(mylist):
    mylist.append([1,2,3,4]);
    print(mylist)
    return
mylist=[10,20,30]

print(mylist)
fn(mylist)
print(mylist)

[10, 20, 30]
[10, 20, 30, [1, 2, 3, 4]]
[10, 20, 30, [1, 2, 3, 4]]

In [12]:
def fn(name,age):
    print("Name:",name)
    print("Age:",age)
    return
fn("HS",22)

Name: HS
Age: 22

In [2]:
def fn(str):
    print(str)
    return
fn(str="My String")

My String

In [3]:
x=88

In [4]:
x

88

In [5]:
def fn(name,age =35):
    print("Name:",name)
    print("Age:",age)
    return
fn("HS")

Name: HS
Age: 35

In [9]:
def fn(arg1,*v):
    print("Output is: ")
    print(arg1)
    for var in v:
        print("Hi")
        print(var)
fn(10)
fn(70,60,50)

Output is:
10
Output is:
70
Hi
60
Hi
50

In [12]:
sum = lambda arg1,arg2: arg1+arg2
print("Value of Total",sum(10,20))

Value of Total 30

In [13]:
x = lambda a:a+10
print(x(5))

x = lambda a,b:a+b
print(x(5,6))

x = lambda a,b,c:a+b+c
print(x(5,6,7))

15
11
18

In [18]:
def myfunc(n):
    return lambda a:a*n
mydoubler = myfunc(2)
print(myfunc(2))
print(mydoubler(11))

<function myfunc.<locals>.<lambda> at 0x000002B052C4DF70>
22

In [21]:
thisdict={
    "brand":"ford",
    "electric":False,
    "year":1920,
    "colours":["red","white"]
}

In [22]:
car={
    "brand":"ford",
    "electric":"mustang",
    "year":1290
}
x=car.keys()
print(x)
car["colour"]="white"
print(x)

dict_keys(['brand', 'electric', 'year'])
dict_keys(['brand', 'electric', 'year', 'colour'])

In [25]:
mydict={}
dict1={1:'apple',2:'ball'}
dict2={'name':'john',1:[2,4,3]}
dict3=dict({1:'apple',2:'ball'})
dict4=dict([(1,'apple'),(2,'ball')])
print(dict1,dict2,dict3,dict4)

{1: 'apple', 2: 'ball'} {'name': 'john', 1: [2, 4, 3]} {1: 'apple', 2: 'ball'} {1: 'apple', 2: 'ball'}

In [26]:
thisdict={"brand":"Ford",
         "model":"mustang",
         "year":1996,
         "color":["red","blue","pink"]}
print(thisdict.get('year'))
print(thisdict["model"])
print(thisdict.get("address"))
#print(thisdict["address"])

1996
mustang
None

In [28]:
marks={}.fromkeys(['Math','English','Science'],0)
print(marks)
for item in marks.items():
    print(item)
print(list(sorted(marks.keys())))

{'Math': 0, 'English': 0, 'Science': 0}
('Math', 0)
('English', 0)
('Science', 0)
['English', 'Math', 'Science']

In [29]:
squares ={x: x*x for x in range(6)}
print(squares)

squares={}
for x in range(6):
    squares[x] = x*x
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [30]:
squares = {1: 1, 3: 9, 5: 25, 7:49, 9:81}
print(1 in squares)
print(2 not in squares)
print(49 in squares)

True
True
False

In [32]:
for i in squares:
    print(squares[i])

1
9
25
49
81

In [33]:
my_information = {'name': 'Dionysia', 'age': 28, 'location': 'Athens'}
city = my_information.pop('location')
print(my_information)
print(city)

{'name': 'Dionysia', 'age': 28}
Athens

In [34]:
oc = my_information.pop('occupation','not found')
print(oc)

not found

In [35]:
dic={
    "child1" : {
        "name" : "Emil",
        "year" : 2004
    },
    "child2" : {
        "name" : "Tobias",
        "year" : 2007
    },
    "child3" : {
        "name" : "Linus",
        "year" : 2011
    }
}
print(dic)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [36]:
a1 = {
        "name" : "Emil",
        "year" : 2004
    }
a2 = {
        "name" : "Tobias",
        "year" : 2007
    }
a3 = {
        "name" : "Linus",
        "year" : 2011
    }
aa={
    "child1" : a1,
    "child2" : a2,
    "child3" : a3
}
print(aa)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}