In [1]:
str_1="Hello Python"
str_1

'hello Python'

In [4]:
str2="hello"+"Python"
str2

'helloPython'

In [9]:
str3=(str_1+", ")*3
str3

'hello Python, hello Python, hello Python, '

In [12]:
str4="1x 2x 3x 4x 5"
str4.split("x")

['1', ' 2', ' 3', ' 4', ' 5']

In [13]:
str_1.upper()

'HELLO PYTHON'

In [15]:
str1="    hello Python     "
str1.strip()

'hello Python'

In [16]:
str1.lstrip()

'hello Python       '

In [17]:
str1.rstrip()

'    hello Python'

In [18]:
txt="the best things in life are free!!!"
print("expensive" not in txt)
print("free" in txt)

True
True

In [19]:
print(str_1.lower())

    hello python

In [20]:
age=22
txt="My name is Harry and I am {}"
print(txt.format(age))

My name is Harry and I am 22

In [23]:
ver=3
print(str_1+str(ver))

    hello Python       3

In [25]:
a,b,c,d=10,20,30,40
def FunA():
    a,b,c=100,200,300
    print("In FunA ",a,b,c,d)
    def FunB():
        a,b=1000,2000
        print("In FunB",a,b,c,d)
        def FunC():
            a=10000
            print("In FunB",a,b,c,d)
        FunC()
    FunB()
FunA()
print("In __main__",a,b,c,d)

In FunA  100 200 300 40
In FunB 1000 2000 300 40
In FunB 10000 2000 300 40
In __main__ 10 20 30 40

In [26]:
list1=[1,2,3]
list2=[4,5,6]
list3=[]
list3=list2
list2=list1
list1=list3
print(list1)
print(list2)

[4, 5, 6]
[1, 2, 3]

In [ ]:
=