In [2]:
print("Installed and tried.")

Installed and tried

In [1]:
x,y=10,20
print(x,y)
print(type(x))   #typeof
x="Hello"        #rewrite
print(x)         #rewritten in new type
print(type(x))   #new type
X="Harry"        #case-sensitive and wont overwrite
print(x,X)       # ',' prints with a space
print(x+X)       # '+' prints without any space
X=5
print(x,X)

10 20
<class 'int'>
Hello
<class 'str'>
Hello Harry
HelloHarry

In [2]:
y="awesome!!!"
def  myfn():
    y="fantastic!!!"
    print("Python is",y)
myfn()
print("Python is "+y)

Python is fantastic!!!
Python is awesome!!!

In [6]:
y="awesome!!!"
def  myfn():
    global y
    y="fantastic!!!"
#     print("Python is",y)
myfn()
print("Python is "+y)

Python is fantastic!!!

In [12]:
print(x+10)

In [5]:
mylist=['apple','banana','cherry']
print(mylist)
thislist=list(('apple','banana','cherry'))
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [6]:
lst=['11',1,3]
print(lst)
lst[0]

['11', 1, 3]

'11'

In [8]:
print(len(mylist))

3

In [12]:
list1=['apple','banana','cherry']
list2=[1,5,3,9,4]
list3=[True,False,False]
newlist=[x if x!="banana" else "orange" for x in list1]
print(newlist)

['apple', 'orange', 'cherry']

In [13]:
print("Hi!")

Hi!

In [14]:
print(type(list1))

<class 'list'>

In [15]:
list1=["a","b","c"]
list2=[1,2,3]
list4=list2*2
print(list4)
list3=list1+list2
print(list3)

[1, 2, 3, 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [18]:
list5=[0,1,2,3,4,5,6,7]
print(list5[1:5])
print(list5[1:3])

[1, 2, 3, 4]
[1, 2]

In [24]:
list1=["apple","orange",1997,2001]
print(list1)
list1[0]=2000
print(list1)
del(list1[2])
print(list1)

['apple', 'orange', 1997, 2001]
[2000, 'orange', 1997, 2001]
[2000, 'orange', 2001]

In [41]:
list2=[0,1,2,3,4,5,6,7,8]
print(list2[2:5])
print(list2[0:7:2])
print(list2[0:])
print(list2[-2:2])          #to is before from
print(list2[-2:])
print(list2[:2])

[2, 3, 4]
[0, 2, 4, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[]
[7, 8]
[0, 1]

In [33]:
list2=[10,3,4,5,6,7,8]
print("Example 1: ")
for x in list2:
    print(x)
print("Example 2: ")
for x in range(1,4):
    print(x,list2[x])
print("Example 3: ")
for x in range(0,6,2):
    print(x,list2[x])

Example 1:
10
3
4
5
6
7
8
Example 2:
1 3
2 4
3 5
Example 3:
0 10
2 4
4 6

In [34]:
thislist=['apple','banana','cherry']
i=0
while i<len(thislist):
    print(thislist[i])
    i+=1

apple
banana
cherry

In [36]:
list1=["a","b","c"]
list2=[1,2,3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [40]:
fruits=['apple','banana','cherry','kiwi']
newlist1=[x for x in range(10)]
newlist2=[x for x in range(10) if x<5]
newlist3=[x.upper() for x in fruits]
print(newlist1,newlist2,newlist3)

newlist3=["hello" for x in fruits]
print(newlist3)
newlist=[]
for x in fruits:
    if 'a' in x:
        newlist.append(x)
print(newlist)
print(fruits[-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] [0, 1, 2, 3, 4] ['APPLE', 'BANANA', 'CHERRY', 'KIWI']
['hello', 'hello', 'hello', 'hello']
['apple', 'banana']
kiwi